* {
  will-change: transform;
  white-space: pre-line;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 130%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 970px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 970px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1680px;

  @media screen and (max-width: 1680px) {
    max-width: 1480px;
  }

  @media screen and (max-width: 1480px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1000px) {
    max-width: 640px;
  }

  @media screen and (max-width: 640px) {
    max-width: 480px;
  }

  @media screen and (max-width: 480px) {
    max-width: none;
    padding: 0 15px;
  }
}

@screen lg {
  .grid-2 {
    grid-template-columns: 1fr 720px;
  }
}

@screen md {
  .grid-2 {
    grid-template-columns: 1fr 640px;
  }
}

@screen sm {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
