@import '@/styles/vars';

.bottom {
	margin-top: 115px;
}

.item {
	padding: 46px 0;
	cursor: pointer;
}

.item__head {
	align-items: center;
}

.item__title {
	font-size: 141px;
	line-height: 1;
}

.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-left: auto;
}
