.item {
	padding: 56px 0;
}

.title {
	font-size: 24px;
	line-height: 1;
}

.value {
	flex-grow: 1;
	font-size: 120px;
	line-height: 80px;
}

.num {
	font-size: 14px;
	line-height: 1;
	margin-left: auto;
}
